<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <title>Find me in the crowd!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="hdr">
    <img src="img/crowdpicks_logo.png" width="117" height="22" alt="Crowdpicks Logo" />
  </div>
  <div class="main">
    <h3 class="mbm pbs section-wrap">CHOOSE</h3>
    <h4 class="mbm">Find me in the crowd</h4>
    <form class="form-search mbl">
      <input type="text" class="input-medium search-query">
      <button type="submit" class="btn">Search</button>
    </form>
    <h3 class="mbm pbs section-wrap">OR</h3>
    <h4 class="mbm">Upload a photo</h4>
    <form class="image-upload">
      <div class="controls">
        <input type="file" id="fileInput" class="input-file">
      </div>
    </form>
  </div>
</body>
</html>
